<template>
  <div class="page-optimized">
    <NavBar></NavBar>
    <h2>&nbsp;优化的过渡示例</h2>

    <a
      class="list-item"
      v-for="item in list"
      :key="item"
      :zoom-state-activated="current === item || previous === item"
      :zoom-state-exiting="previous === item"
      @animationend="onAnimationend"
      @click="(e) => { openDetail(item, e) }"
    >
      <div>
        <img class="preview-img" src="./Origin.jpg" />
      </div>
      <div>Menhera(七瀬くるみ)</div>
      <transition name="optimized">
        <div v-if="current === item">
          <router-view></router-view>
        </div>
      </transition>
    </a>

    <div class="desc">
      <p>
        这个例子中的过渡动画经过了优化，点击元素后进入新界面动由纯对的“切换”改为“展开”。于是内容之间的联系被加强了，获得了近似于浏览相册时查看照片的效果。
      </p>
      <p>
        不过它的不足就是，虽然已经可以清晰的表达出“展开详情”的意图，但一眼就能看出两个界面之间衔接并不紧密。
      </p>
    </div>
  </div>
</template>

<script>
//获取元素的纵坐标（相对于窗口）
function getTop(e) {
  var offset = e.offsetTop;
  if (e.offsetParent != null) offset += getTop(e.offsetParent);
  return offset;
}
//获取元素的横坐标（相对于窗口）
function getLeft(e) {
  var offset = e.offsetLeft;
  if (e.offsetParent != null) offset += getLeft(e.offsetParent);
  return offset;
}

function getOffsetRect(elem) {
  var box = elem.getBoundingClientRect();
  var body = document.body;
  var docElem = document.documentElement;
  var scrollTop = window.pageYOffset || docElem.scrollTop || body.scrollTop;
  var scrollLeft = window.pageXOffset || docElem.scrollLeft || body.scrollLeft;
  var clientTop = docElem.clientTop || body.clientTop || 0;
  var clientLeft = docElem.clientLeft || body.clientLeft || 0;
  var top = box.top + scrollTop - clientTop;
  var left = box.left + scrollLeft - clientLeft;
  return { top: Math.round(top), left: Math.round(left) };
}

export default {
  data() {
    return {
      previous: "",
      list: ["1", "2", "3", "4", "5"],
      current: this.$route.query.id || ""
    };
  },
  watch: {
    $route(to, from) {
      if (to.query.id !== this.current) {
        if (this.current && !to.query.id) {
          this.previous = this.current;
        }
        this.current = to.query.id || "";
      }
    }
  },
  methods: {
    // 动画结束时
    onAnimationend({ currentTarget }) {
      if (
        currentTarget &&
        currentTarget.hasAttribute("zoom-state-exiting") &&
        this.previous
      ) {
        this.previous = "";
      }
    },
    openDetail(id, e) {
      const { currentTarget } = e;
      const position = getOffsetRect(currentTarget);
      const { top, left } = position;

      const transformOrigin = `center top`;
      const scale = `scale(${currentTarget.clientWidth / window.innerWidth})`;
      const translate = ` translate(${left -
        window.innerWidth / 2 +
        currentTarget.clientWidth / 2}px, ${top - 45}px)`;
      const transform = `${translate} ${scale}`;

      if (this.current !== id) {
        this.$router.push({
          name: "AnimationOptimizedDetail",
          query: { id },
          params: {
            transformOrigin,
            transform
          }
        });
      }
    }
  }
};
</script>

<style lang="scss">
.page-optimized {
  $duration: 0.4s;

  @keyframes optimized-enter {
    0% {
      opacity: 0;
    }
    60% {
      opacity: 1;
    }
    90% {
      transform: scale(1);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
  @keyframes optimized-exit {
    0% {
      opacity: 1;
      transform: scale(1);
    }
    100% {
      opacity: 0;
    }
  }
  .optimized-enter-active,
  .optimized-leave-active,
  .optimized-enter,
  .optimized-leave-to {
    animation-duration: $duration;
    .page-optimized-detail {
      overflow: hidden;
    }
  }

  .list-item {
    font-size: 11px;
    text-align: center;
    display: inline-block;
    width: 120px;
    margin: 2px;
    padding: 4px;
    text-decoration: none;
    color: #000;
    .preview-img {
      margin: auto auto 6px auto;
      display: inline-block;
      width: 100%;
      border-radius: 5px;
    }
    &[zoom-state-activated] {
      .page-optimized-detail {
        transform-origin: center;
        opacity: 0;
        animation: optimized-enter $duration ease-in-out;
        animation-fill-mode: forwards;
      }
    }
    &[zoom-state-exiting] {
      .page-optimized-detail {
        opacity: 1;
        animation: optimized-exit $duration ease-in-out;
        animation-fill-mode: forwards;
      }
    }
    &:not([zoom-state-activated]):not([zoom-state-exiting]) {
      .page-optimized-detail {
        transform: unset !important;
        transition: unset;
        display: none;
      }
    }
  }

  .desc {
    margin-bottom: 50px;
    padding: 10px;
    font-size: 13px;
    line-height: 1.8em;
    color: #888;
    text-indent: 2em;
  }
}
</style>