<template>
  <div class="page-final">
    <NavBar></NavBar>
    <h2>&nbsp;经过封装的动画</h2>

    <ZoomList class="zoom-list-test" v-model="current" :data="list">
      <!--<template slot-scope="item" v-slot:item>-->
      <template slot-scope="row" slot="item">
        <div><img src="./Origin.jpg" /></div>
        <div class="name">Menhera七瀬くるみ {{row.item}}</div>
      </template>
      <template slot-scope="row" slot="detail">
        <DetailView></DetailView>
      </template>
    </ZoomList>

    <div class="desc">
      <p>
        试着分析这组动画，它应该是由三个部分组成：<br />
        1. 被点击内容的展开和收起<br />
        2. 详情页背景的淡入和淡出<br />
        3. 详情内容的显示和隐藏<br /><br />
        我们期望将这个动画过程形成固定的组合，发现前两个部分往往是相同的，于是想办法把它封装起来形成容器，发现动画容器大多数时候是通用的！
      </p>
      <p>
        不过，它依然不是最完美的形态，还有许多细节可以优化！
      </p>
    </div>
  </div>
</template>

<style lang="scss">
.page-final {
  overflow-y: auto;
  .zoom-list-test {
    .zoom-list-item {
      text-align: center;
      display: inline-block;
      width: 33%;
      height: auto;
      padding: 4px;
      text-decoration: none;
      color: #000;
      .zoom-preview {
        font-size: 11px;
        img {
          margin: auto auto 6px auto;
          display: inline-block;
          width: 100%;
          border-radius: 5px;
        }
      }

      &[zoom-state-activated] {
        .zoom-preview {
          .name {
            font-size: 20px;
            text-indent: 0;
            color: #000;
            text-align: left;
            padding: 20px;
          }
        }
      }
    }
  }


  .desc {
    margin-bottom: 50px;
    padding: 10px;
    font-size: 13px;
    line-height: 1.8em;
    color: #888;
    // text-indent: 2em;
  }
}
</style>

<script>
import ZoomList from '../../components/ZoomList'
import DetailView from './DetailView'
export default {
  components: {
    ZoomList,
    DetailView,
  },
  data () {
    return {
      current: '',
      list: ['1', '2', '3', '4', '5', '6']
    }
  },
  watch: {
    $route(to, from) {
      if (to.query.current !== this.current) {
        this.current = to.query.current || "";
      }
    },
    current (current) {
      if (current) {
        this.$router.push({
          path: this.$route.path,
          query: {
            current
          }
        })
      }
    }
  }
}
</script>