<template>
  <div class="page-basic">
    <NavBar></NavBar>
    <h2>&nbsp;简单过渡示例</h2>
    <router-link class="list-item" to="/1/detail">
      <div><img src="./Origin.jpg"></div>
      <div>Menhera(七瀬くるみ)</div>
    </router-link>
    <router-link class="list-item" to="/1/detail">
      <div><img src="./Origin.jpg"></div>
      <div>Menhera七瀬くるみ</div>
    </router-link>
    <div class="desc">
      <p>
        大多数情况下，过渡动画避免了界面突然出现的突兀，使操作体验更加连贯自然。
        然而，像这样的动画，虽然基本达成了避免界面生硬出现的违和感，却不能表达出用户操作的意图。
      </p>
      <p>
        你可称之为基础的交互动画，而不是设计精致的动画。
      </p>
    </div>
  </div>
</template>

<style lang="scss">
.page-basic {
  .list-item {
    font-size: 11px;
    text-align: center;
    display: inline-block;
    width: 120px;
    margin: 2px;
    padding: 4px;
    text-decoration: none;
    color: #000;
    img {
      margin: auto auto 6px auto;
      display: inline-block;
      width: 100%;
      border-radius: 5px;
    }
    &:active,
    &:hover {
      background-color: #fff;
      box-shadow: 0 0 4px #ccc;
      border-radius: 5px;
      user-select: none;
      -webkit-tap-highlight-color: transparent;
      transform: scale(0.98);
      transition: transform 0.2s;
    }
  }
  .desc {
    margin-bottom: 50px;
    padding: 10px;
    font-size: 13px;
    line-height: 1.8em;
    color: #888;
    text-indent: 2em;
  }
}
</style>