<template>
  <div class="page-sample">
    <NavBar></NavBar>
    <h2>&nbsp;经过封装的动画</h2>

    <ZoomList class="zoom-list-test" v-model="current" :data="list">
      <!--<template slot-scope="item" v-slot:item>-->
      <template slot-scope="row" slot="item">
        <div class="img"><img src="./small.jpg" /></div>
        <div class="name">示例项 {{row.item}}，测试一下在未经优化的界面上使用动画容器的效果</div>
      </template>
      <template slot-scope="row" slot="detail">
        <DetailView></DetailView>
      </template>
    </ZoomList>

    <div class="desc">
      
    </div>
  </div>
</template>

<style lang="scss">
.page-sample {
  overflow-y: auto;
  background-color: #f8f8f8;
  .zoom-list-test {
    padding: 4px;
    .zoom-list-item {
      background-color: #fff;
      text-align: center;
      display: block;
      height: 70px;
      padding: 4px;
      text-decoration: none;
      color: #000;
      box-shadow: 0 0 2px #aaa;
      margin-bottom: 8px;
      .zoom-preview {
        font-size: 11px;
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 18px;
        padding: 10px 20px;
        text-align: left;
        .img {
          display: inline-block;
          width: 40px;
          img {
            border-radius: 50%;
            max-width: 100%;
            max-height: 100%;
          }
        }
        .name {
          padding-left: 20px;
          flex: 1;
        }
      }

      &[zoom-state-activated] {
        .zoom-preview {
          .name {
            font-size: 20px;
            text-indent: 0;
            color: #000;
            text-align: left;
            padding: 20px;
          }
        }
      }
    }
  }

  .desc {
    margin-bottom: 50px;
    padding: 10px;
    font-size: 13px;
    line-height: 1.8em;
    color: #888;
    // text-indent: 2em;
  }
}
</style>

<script>
import ZoomList from '../../components/ZoomList'
import DetailView from './DetailView'
export default {
  components: {
    ZoomList,
    DetailView,
  },
  data () {
    return {
      current: '',
      list: ['1', '2', '3', '4', '5', '6']
    }
  },
  watch: {
    $route(to, from) {
      if (to.query.current !== this.current) {
        this.current = to.query.current || "";
      }
    },
    current (current) {
      if (current) {
        this.$router.push({
          path: this.$route.path,
          query: {
            current
          }
        })
      }
    }
  }
}
</script>