<template>
  <div class="page-perfect-detail" :style="styles">
    <NavBar></NavBar>
    <div class="subject" :style="styles">
      <div><img src="./Origin.jpg" alt=""></div>
      <div>
        <div class="name">Menhera七瀬くるみ</div>
      </div>
    </div>
    <div class="body">
      <div>
        七濑胡桃 (日语：七瀬くるみ)，通称メンヘラちゃん（menhera chan）（人来疯酱/有病酱/精神病酱），是由ジョイネット的绘师ぽむ 所创作的LINE表情包《メンヘラちゃん。》及其衍生作品的登场角色。
      </div>
      <div>
        有点小神经的人，说不定需要做些心理健康（メンタルヘルス、mental health），简称为メンヘル（men-heal）。而去做心理健康的人，便在此基础上加上-er后缀，被称作メンヘラ（men-heal-er）。最后加上ちゃん（chan）表示亲切可爱，便是略微有点小神经的少女menhera酱！短发版本作者ジョイネット（joynet）在发布了メンヘラちゃん。和メンヘラちゃん。2之后，还发布了台词变为英语的版本，名称分别为Menhera-chan. EN和Menhera-chan.2 EN。（注意：句号和点均为表情包名称的一部分）2018年初又发布了头发为短发，并且表情内容有不少变化的メンヘラ少女。和メンヘラ少女。
      </div>
    </div>
  </div>
</template>
<style lang="scss">
.page-perfect-detail {
  @keyframes slide-bottom-enter {
    0% {
      opacity: 0;
      transform: translateY(100%);
    }
    80% {
      opacity: 1;
      transform: translateY(0%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  @keyframes slide-top-enter {
    0% {
      opacity: 0;
      transform: translateY(-20%);
    }
    80% {
      opacity: 1;
      transform: translateY(0%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  background: #fff;
  overflow-y: auto;
  height: 100%;
  position: fixed;
  z-index: 6;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: left;
  img {
    max-width: 100%;
    border-radius: unset !important;
  }
  .name {
    font-size: 20px;
    text-indent: 0;
    color: #000;
    padding-left: 20px;
    padding-top: 20px;
  }
  .body {
    opacity: 0;
    transform-origin: center;
    animation: slide-top-enter 0.35s ease-in-out;
    animation-fill-mode: forwards;
    padding: 20px;
    font-size: 12px;
    color: #666;
    > div {
      margin-bottom: 10px;
      text-indent: 2em;
      line-height: 1.6em;
    }
  }
}
</style>
<script>
export default {
  props: {
    clientX: {
      type: Number,
      default: 0
    },
    clientY: {
      type: Number,
      default: 0
    }
  },
  data () {
    const { clientX, clientY } = this.$route.query
    console.log(clientX, clientY, window.innerWidth, window.innerHeight, clientX / window.innerWidth, clientY / window.innerHeight)
    const styles = {
      'transformOrigin': `${clientX * 100 / window.innerWidth}% ${clientY * 100 / window.innerHeight}%`
    }
    console.log(styles)
    return {
      styles
    }
  }  
}
</script>
