<template>
  <div class="page-perfect">
    <NavBar></NavBar>
    <h2>&nbsp;更完美的动画</h2>

    <a
      class="zoom-list-item"
      v-for="item in list"
      :key="item"
      :zoom-state-exiting="previous === item"
      :zoom-state-activated="previous === item || current === item"
      @animationend="onAnimationend"
    >
      <div class="zoom-preview" @click="(e) => { openDetail(item, e) }">
        <div>
          <img class="preview-img" src="./Origin.jpg" />
        </div>
        <div class="name">Menhera七瀬くるみ</div>
      </div>
      <div class="zoom-body-mask"></div>
      <transition name="zoom-body">
        <div class="zoom-body" v-if="current === item">
          <router-view></router-view>
        </div>
      </transition>
    </a>

    <div class="desc">
      <p>
        现在，动画变得更细致了，在列表元素被点击之后，首先对它进行放大，接着详情页的背景色淡入遮住列表界面，最后才显示详情界面的内容。
      </p>
      <p>
        这样的动画让体验更加连贯，很自然的感受到内容它随着点击被展开了。
      </p>
      <p>
        坏处就是你需要写更多的动画来完成整个过渡，而且这往往还很烧脑。
      </p>
    </div>
  </div>
</template>

<script>
//获取元素的纵坐标（相对于窗口）
function getTop(e) {
  var offset = e.offsetTop;
  if (e.offsetParent != null) offset += getTop(e.offsetParent);
  return offset;
}
//获取元素的横坐标（相对于窗口）
function getLeft(e) {
  var offset = e.offsetLeft;
  if (e.offsetParent != null) offset += getLeft(e.offsetParent);
  return offset;
}

function getOffsetRect(elem) {
  var box = elem.getBoundingClientRect();
  var body = document.body;
  var docElem = document.documentElement;
  var scrollTop = window.pageYOffset || docElem.scrollTop || body.scrollTop;
  var scrollLeft = window.pageXOffset || docElem.scrollLeft || body.scrollLeft;
  var clientTop = docElem.clientTop || body.clientTop || 0;
  var clientLeft = docElem.clientLeft || body.clientLeft || 0;
  var top = box.top + scrollTop - clientTop;
  var left = box.left + scrollLeft - clientLeft;
  return { top: Math.round(top), left: Math.round(left) };
}

export default {
  data() {
    return {
      current: this.$route.query.id || "",
      previous: "",
      list: ["1", "2", "3", "4", "5", "6", "7", "8", "9", "10", "11", "12"]
    };
  },
  watch: {
    $route(to, from) {
      if (to.query.id !== this.current) {
        if (this.current && !to.query.id) {
          this.previous = this.current;
          setTimeout(() => {
            this.previous = "";
          }, 550);
        }
        this.current = to.query.id || "";
      }
    }
  },
  methods: {
    // 动画结束时
    onAnimationend ({currentTarget}) {
      if (currentTarget && currentTarget.hasAttribute('zoom-state-exiting') && this.previous) {
        this.previous = ''
      }
    },
    openDetail(id, e) {
      const targetTop = 45 // 这是导航栏的高度，缩放动画播放时元素应定为到导航栏之下

      const { clientX, clientY, currentTarget } = e;
      /*
        const offsetTop = getTop(currentTarget) + currentTarget.clientHeight / 2;
        const offsetLeft = getLeft(currentTarget) + currentTarget.clientWidth / 2;
      */
      const position = getOffsetRect(currentTarget);
      const offsetTop = position.top;
      const offsetLeft = position.left;

      const topRatio =
        (offsetLeft + currentTarget.clientWidth / 2) / window.innerWidth;
      const leftRatio =
        (offsetTop + currentTarget.clientHeight / 2 - targetTop) /
        (window.innerHeight - targetTop);

      // currentTarget.style.transformOrigin = `${topRatio * 100}% ${leftRatio * 100}%`;
      currentTarget.style.transformOrigin = `center top`;
      const scale = `scale(${currentTarget.clientWidth / window.innerWidth})`;
      const translate = ` translate(${offsetLeft -
        window.innerWidth / 2 +
        currentTarget.clientWidth / 2}px, ${offsetTop - targetTop}px)`;
      currentTarget.style.transform = `${translate} ${scale}`;
      console.log("currentTarget position", position);
      if (this.current !== id) {
        this.$router.push({
          name: "AnimationPerfectDetail",
          query: {
            id,
            clientX,
            clientY
          }
        });
      }
    }
  }
};
</script>

<style lang="scss">
.page-perfect {
  overflow-y: auto;

  .zoom-list-item {
    text-align: center;
    display: inline-block;
    width: 33%;
    height: auto;
    padding: 4px;
    text-decoration: none;
    color: #000;
    .zoom-preview {
      font-size: 11px;
      img {
        margin: auto auto 6px auto;
        display: inline-block;
        width: 100%;
        border-radius: 5px;
      }
    }

    &[zoom-state-activated] {
      .zoom-preview {
        .name {
          font-size: 20px;
          text-indent: 0;
          color: #000;
          text-align: left;
          padding: 20px;
        }
      }
    }
  }


  /* 动画时长 */
  $duration: 0.3s;
  @keyframes zoom-preview-enter {
    90% {
      opacity: 1;
      transform: scale(1);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
  @keyframes zoom-preview-exit {
    0% {
      opacity: 1;
      transform: scale(1);
    }
    80% {
      opacity: 0.8;
    }
    100% {
      opacity: 1;
    }
  }
  
  @keyframes fade-exit {
    0% {
      opacity: 1;
    }
    80% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes fade-enter {
    0% {
      opacity: 0;
    }
    80% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }

  .zoom-body-enter-active,
  .zoom-body-leave-active,
  .zoom-body-enter,
  .zoom-body-leave-to {
    animation-duration: $duration;
    &::-webkit-scrollbar,
    ::-webkit-scrollbar,
    &.zoom-body {
      display: none;
    }
  }

  .zoom-list-item {
    &:not([zoom-state-activated]) {
      .zoom-preview {
        transform: unset !important;
        transition: unset;
      }
      .zoom-body-mask {
        display: none;
      }
    }
    .zoom-preview {
      width: 100%;
      vertical-align: top;
      -webkit-tap-highlight-color: transparent;
      user-select: none;
    }
    &[zoom-state-activated] {
      .zoom-preview {
        position: fixed;
        left: 0 !important;
        top: 45px !important;
        width: 100vw;
        height: auto;
        transform-origin: center;
        border-radius: 10px;
        z-index: 5;
        background: #fff;
        animation: zoom-preview-enter $duration ease-in-out forwards;
        // animation-fill-mode: forwards;
      }
      .zoom-body-mask {
        animation: fade-enter $duration ease-in-out forwards;
      }
    }
    &[zoom-state-exiting] {
      .zoom-preview {
        animation: zoom-preview-exit $duration ease-in-out;
        // animation-fill-mode: unset;
      }
      .zoom-body-mask {
        animation: fade-exit $duration ease-in-out forwards;
      }
    }

    .zoom-body-mask {
      background: #fff;
      height: auto;
      width: auto;
      top: 0;
      top: var(--NavHeaderSize);
      left: 0;
      right: 0;
      bottom: 0;
      position: fixed;
      z-index: 4;
    }
  }


  .desc {
    margin-bottom: 50px;
    padding: 10px;
    font-size: 13px;
    line-height: 1.8em;
    color: #888;
    text-indent: 2em;
  }
}
</style>