<template>
  <div class="nav-header">
    <span class="arrow" @click="goBack">
      <img src="../assets/img/back.png" alt="">
    </span>
    <span class="title">
      导航栏
    </span>
    <span class="nav-items">
      <router-link :to="{ name: 'AnimationBasic' }">1.基本</router-link>
      <router-link :to="{ name: 'AnimationOptimized' }">2.优化</router-link>
      <router-link :to="{ name: 'AnimationPerfect' }">3.更完美</router-link>
      <router-link :to="{ name: 'AnimationFinal' }">4.最终</router-link>
      <router-link :to="{ name: 'AnimationSample' }">5.其它</router-link>
    </span>
  </div>
</template>

<script>
export default {
  methods: {
    goBack() {
      window.history.back();
    }
  }
};
</script>

<style lang="scss">
.nav-header {
  height: var(--NavHeaderSize);
  font-weight: bold;
  box-shadow: 0 0 5px #ccc;
  background-color: #fff;
  font-size: 14px;
  display: flex;
  flex-direction: row;
  align-items: center;
  .arrow {
    display: inline-block;
    width: 45px;
    text-align: center;
    vertical-align: middle;
    img {
      height: 20px;
      margin: 12.5px auto;
      display: inline-block;
    }
  }
  .nav-items {
    text-align: right;
    padding: 0 10px;
    a {
      text-decoration: none;
      padding: 0 5px;
      color: #58a;
    }
  }
  .title {
    vertical-align: middle;
    line-height: 45px;
    flex: 1;
  }
}
</style>
