<template>
  <div class="zoom-list-view" ref="current">
    <a class="zoom-list-item" v-for="item in data"
        @animationend="onAnimationEnd"
        @animationstart="onAnimationStart"
        :key="item"
        :zoom-state-exiting="animation.zoomPreviewExit === item"
        :zoom-state-activated="animation.zoomPreviewExit === item || currentSelected === item">
      <div class="zoom-preview" @click="(e) => { onListItemClick(item, e) }">
        <slot name="item" :data="item"></slot>
      </div>
      <div class="zoom-body-mask"></div>
      <transition name="zoom-body">
        <div class="zoom-body" v-if="currentSelected === item">
          <slot name="detail" :data="item"></slot>
        </div>
      </transition>
    </a>
  </div>
</template>

<script>
//获取元素的纵坐标（相对于窗口）
function getTop(e) {
  var offset = e.offsetTop;
  if (e.offsetParent != null) offset += getTop(e.offsetParent);
  return offset;
}
//获取元素的横坐标（相对于窗口）
function getLeft(e) {
  var offset = e.offsetLeft;
  if (e.offsetParent != null) offset += getLeft(e.offsetParent);
  return offset;
}

function getOffsetRect(elem) {
  var box = elem.getBoundingClientRect()
  var body = document.body
  var docElem = document.documentElement
  var scrollTop = window.pageYOffset || docElem.scrollTop || body.scrollTop
  var scrollLeft = window.pageXOffset || docElem.scrollLeft || body.scrollLeft
  var clientTop = docElem.clientTop || body.clientTop || 0
  var clientLeft = docElem.clientLeft || body.clientLeft || 0
  var top  = box.top +  scrollTop - clientTop
  var left = box.left + scrollLeft - clientLeft
  return { top: Math.round(top), left: Math.round(left) }
}

export default {
  props: {
    value: { },
    data: {
      type: Array,
      required: true
    }
  },
  data() {
    return {
      animation: {
        zoomPreviewExit: ''
      },
      currentSelected: this.$route.query.id || ""
    };
  },
  watch: {
    value (to) {
      if (this.currentSelected !== to) {
        if (this.currentSelected) {
          this.animation.zoomPreviewExit = this.currentSelected
          /*
          // 动画结束后移除相应的class
          // 严肃点，不能这么干的，而正确的思路应当是监听 animationend 事件
          setTimeout(() => {
            this.animation.zoomPreviewExit = ''
          }, 500)
          */
          /*
          this.$nextTick(() => {
              // Chrome, Safari 和 Opera 代码
              // ele.addEventListener("webkitAnimationEnd", myStartFunction);
              // 标准语法
              // ele.addEventListener("animationend", myStartFunction);
          })
          */
        }
        this.currentSelected = to
      }
    }
  },
  methods: {
    // 动画开始时
    onAnimationStart ({currentTarget}) {
      console.log('onAnimationStart', new Date().getTime())
    },
    // 动画结束时
    onAnimationEnd ({currentTarget}) {
      console.log('onAnimationEnd', new Date().getTime())
      if (currentTarget && currentTarget.hasAttribute('zoom-state-exiting') && this.animation.zoomPreviewExit) {
        this.animation.zoomPreviewExit = ''
      }
    },
    onListItemClick(id, e) {
      const targetTop = 45 // 这是导航栏的高度，缩放动画播放时元素应定为到导航栏之下

      const { clientX, clientY, currentTarget } = e;
      const position = getOffsetRect(currentTarget)
      const { top, left } = position

      const topRatio = (left + currentTarget.clientWidth / 2) / window.innerWidth
      const leftRatio = (((top + currentTarget.clientHeight / 2) - targetTop)) / (window.innerHeight - targetTop)

      currentTarget.style.transformOrigin = `center top`;
      const scale = `scale(${currentTarget.clientWidth / window.innerWidth})`;
      const translate = ` translate(${left - window.innerWidth / 2 + currentTarget.clientWidth / 2}px, ${top - targetTop}px)`;
      currentTarget.style.transform = `${translate} ${scale}`;

      if (this.currentSelected !== id) {
        this.currentSelected = id
        this.$emit('input', id)
      }
    }
  }
};
</script>

<style lang="scss">
.zoom-list-view {
  /* 动画时长 */
  $duration: 0.3s;

  padding: 2px;
  overflow-y: auto;

  @keyframes zoom-preview-enter {
    90% {
      opacity: 1;
      transform: scale(1);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
  @keyframes zoom-preview-exit {
    0% {
      opacity: 1;
      transform: scale(1);
    }
    80% {
      opacity: 0.8;
    }
    100% {
      opacity: 1;
    }
  }
  
  @keyframes fade-exit {
    0% {
      opacity: 1;
    }
    80% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes fade-enter {
    0% {
      opacity: 0;
    }
    80% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }

  .zoom-body-enter-to,
  .zoom-body-enter-active,
  .zoom-body-leave-active,
  .zoom-body-leave-to {
    animation-duration: $duration;
    &::-webkit-scrollbar,
    ::-webkit-scrollbar {
      display: none;
    }
  }

  .zoom-list-item {
    &:not([zoom-state-activated]) {
      .zoom-preview {
        transform: unset !important;
        transition: unset;
      }
      .zoom-body-mask {
        display: none;
      }
    }
    .zoom-preview {
      width: 100%;
      vertical-align: top;
      -webkit-tap-highlight-color: transparent;
      user-select: none;
    }
    .zoom-body {
      background: #fff;
      overflow-y: auto;
      height: 100%;
      position: fixed;
      z-index: 6;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
    }
    &[zoom-state-activated] {
      .zoom-preview {
        position: fixed;
        left: 0 !important;
        top: 45px !important;
        width: 100vw;
        height: auto;
        transform-origin: center;
        border-radius: 10px;
        z-index: 5;
        background: #fff;
        animation: zoom-preview-enter $duration ease-in-out forwards;
        // animation-fill-mode: forwards;
      }
      .zoom-body-mask {
        animation: fade-enter $duration ease-in-out forwards;
      }

      .zoom-body {
        opacity: 0;
        animation: fade-enter $duration forwards;
        animation-delay: $duration;
      }
    }
    &[zoom-state-exiting] {
      .zoom-preview {
        animation: zoom-preview-exit $duration ease-in-out;
        // animation-fill-mode: unset;
      }
      .zoom-body-mask {
        animation: fade-exit $duration ease-in-out forwards;
      }

      .zoom-body {
        animation: fade-exit $duration;
      }
    }

    .zoom-body-mask {
      background: #fff;
      height: auto;
      width: auto;
      top: 0;
      top: var(--NavHeaderSize);
      left: 0;
      right: 0;
      bottom: 0;
      position: fixed;
      z-index: 4;
    }
  }
}
</style>