<template>
  <div class="app-root">
    <div class="router-view">
      <transition :name="animation">
        <router-view></router-view>
      </transition>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      animation: "slide"
    };
  },
  watch: {
    $route(to, from) {
      if (from.name === "AnimationBasic" && to.name === "AnimationBasicDetail") {
        this.animation = "slide-forward";
      } else if (from.name === "AnimationBasicDetail" && to.name === "AnimationBasic") {
        this.animation = "slide-back";
      } else {
        this.animation = ''
      }
    }
  }
};
</script>

<style lang="scss">
.app-root {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  position: relative;
  .router-view {
    position: relative;
    flex: 1;
    overflow: hidden;
    > * {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      color: #444;
    }
  }
}

@keyframes slide-enter {
  0% {
    transform: translateX(100%);
  }
  10% {
    transform: translateX(100%) scale(0.99);
  }
  60% {
    transform: translateX(-1%) scale(0.99);
  }
  75% {
    transform: translateX(0%) scale(0.99);
  }
  100% {
    transform: translateX(0%) scale(1);
  }
}
@keyframes slide-exit {
  0% {
    transform: translateX(0%);
  }
  10% {
    transform: translateX(0%) scale(0.99);
  }
  60% {
    transform: translateX(-100%) scale(0.99);
  }
  100% {
    transform: translateX(-100%) scale(0.99);
  }
}
.slide-forward-enter-active,
.slide-forward-leave-active {
  transform-origin: center;
  animation: slide-enter 0.8s ease-in;
}
.slide-forward-enter,
.slide-forward-leave-to {
  transform-origin: center;
  animation: slide-exit 0.8s ease-in;
}
.slide-back-enter-active,
.slide-back-leave-active {
  transform-origin: center;
  animation: slide-exit 0.8s ease-in reverse;
}
.slide-back-enter,
.slide-back-leave-to {
  transform-origin: center;
  animation: slide-enter 0.8s ease-in reverse;
}
</style>